@use "../base" as *;

.header {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  background-color: #eeeff1;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 80px;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.75;
      padding-bottom: 4px;
    }
  }
}

/* Tablet */
@include respond-max($bp-tablet) {
  .nav__list {
    gap: 24px;
  }
}

/* Mobile */
@include respond-max($bp-mobile) {
  .header__container {
    display: block;
  }

  .nav__list {
    display: block;
    margin-top: 12px;

    li + li {
      margin-top: 10px;
    }
  }

  .nav__link {
    display: block;
    padding: 8px 0;
  }
}
body { outline: 5px solid red; }
