@use "../base/mixins" as *;
@use "../base/variables" as *;


.hero {
  padding: 100px 0;
  background-color: #eeeff1;

  &__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 540px;
    color: $color-muted;
  }
}

@include respond-max($bp-mobile) {
  .hero {
    padding: 48px 0;

    &__title {
      font-size: 24px;
    }
  }
}
.how__video-wrapper {
  position: relative;
  width: 100%;
  max-width: $container-width;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1;
  }
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.85);
}
