@use "../base" as *;

.btn {
  display: inline-block;
  padding: 12px 32px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border: none;

  &--primary {
    background-color: $color-primary;
    color: #fff;
    text-transform: uppercase;

    &:hover,
    &:focus-visible {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.8;
    }
  }
}
