@use "variables" as *;

@mixin container($side-padding: 40px, $max-width: $container-width) {
  width: min(#{$max-width}, calc(100% - #{$side-padding}));
  margin: 0 auto;
}

@mixin respond-max($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
